$colorOne: #04009a;
$colorTwo: #77acf1;
$colorThree: #3edbf0;
$colorFour: #c0fefc;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shizuru&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

.custom-nav {
  background: linear-gradient(to bottom, #36d1dc, #5b86e5);
  border-bottom: solid 1px black;
  width: 100%;

  .navbar-nav {
    .nav-link {
      // color: $colorOne;
      a {
        // color: $colorOne;
        text-decoration: none;
        &:hover {
          // color: #0f07f8;
          text-decoration: none;
        }
      }
    }
  }

  .nav-logo {
    width: 6rem;
  }

  img {
    max-width: 6rem;
    padding: 0.5rem;
    border: solid #ffffff;
    padding: 0.25rem;
    border-radius: 50%;
  }

  p {
    padding: 0.5rem;
  }
}

.homepage-container {
  margin: 0;
  padding: 0;

  .post-row {
    height: 100vh;
    display: flex;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      display: flex;
      justify-content: center;
    }

    .post-img-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin-top: 7rem;

      img {
        max-width: 90%;
      }

      @media only screen and (max-width: 800px) {
        img {
          max-width: 70%;
        }
      }
    }

    .post-text-col {
      margin-top: 12rem;
    }
  }
}

.page-container {
  margin: 0;
  padding: 0;

  .login-signup-row {
    height: 100vh;

    h1 {
      font-family: 'Ubuntu', sans-serif;
    }

    .login-signup-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .login-signup-img-col {
      // img {
      //   margin-left: 15rem;
      // }
    }
  }
}

.edit-profile-row {
  margin-top: 1rem;

  .edit-profile-col {
    margin-top: 0.5rem;
  }
}
